<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <title>Edit Customers</title>
               <link type="text/css" rel="stylesheet" href="../../static/cssImg/admin/style.css"
                     th:href="@{/cssImg/admin/style.css}"/>
               <link type="text/css" rel="stylesheet" href="../../static/cssImg/admin/add-customer-style.css"
                     th:href="@{/cssImg/admin/add-customer-style.css}"/>
    </head>

<body>

<div id="wrapper">
    <div id="header">
        <h2>Customer Relationship Manager</h2>
    </div>
</div>

<div id="container">

    <div id="content">

        <table>
            <tr>
                <th th:text="#{page.editcustomer.id}">Id</th>
                <th th:text="#{page.editcustomer.name}">Name</th>
                <th th:text="#{page.editcustomer.address}">Address</th>
                <th th:text="#{page.editcustomer.email}">E-mail</th>
                <th th:text="#{page.editcustomer.phoneNumber}">Phone number</th>
                <th th:text="#{page.editcustomer.dateRegistrationCustomer}">Date registration</th>
                <th th:text="#{page.editcustomer.enabled}">Access work</th>
                <th th:text="#{page.editcustomer.password}">Password</th>
            </tr>


            <tr th:each="customer:${allCustomers}">
                <td th:text="${customer.id}">ID</td>
                <td th:text="${customer.name}">Name</td>
                <td th:text="${customer.address}">Address</td>
                <td th:text="${customer.email}">Email</td>
                <td th:text="${customer.phoneNumber}">Phone numder</td>
                <td th:text="${customer.dateRegistrationCustomer}">Date registration</td>
                <td th:text="${customer.enabled}">Access work</td>
                <td th:text="${customer.password}">Password</td>
                <td>
                    <form th:id="${customer.id}" action="#" th:action="@{/admin/customers/{id}(id=${customer.id})}"
                          th:method="DELETE">
                        <button type="submit" th:form="${customer.id}">Delete</button>
                    </form>
                </td>
            </tr>
        </table>

    </div>

</div>
<div id="addCustomerDiv">
    <table>
        <form th:id="addCustomer" action="#" th:action="@{/admin/customers}" th:object="${customer}"
              th:method="post">

            <tr>
                <th th:text="#{page.editcustomer.name}">Name</th>
                <td><input type="text" name="name" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
            </tr>

            <tr>
                <th th:text="#{page.editcustomer.address}">Address</th>
                <td><input type="text" name="address" th:field="*{address}"></td>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Error</td>
            </tr>

            <tr>
                <th th:text="#{page.editcustomer.email}">E-mail</th>
                <td><input type="text" name="email" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</td>
            </tr>

            <tr>
                <th th:text="#{page.editcustomer.phoneNumber}">Phone number</th>
                <td><input type="text" name="phoneNumber" th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Error</td>
            </tr>

            <tr>
                <th th:text="#{page.editcustomer.dateRegistrationCustomer}">Date registration</th>
                <td><input type="date" name="dateRegistrationCustomer"
                           th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/></td>
                <td th:if="${#fields.hasErrors('dateRegistrationCustomer')}"
                    th:errors="*{dateRegistrationCustomer}">
                    Error
                </td>
            </tr>

            <tr>
                <th th:text="#{page.editcustomer.enabled}">Access work</th>
                <td><input type="text" name="enabled" th:field="*{enabled}"></td>
                <td th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">Error</td>
            </tr>

            <tr>
                <th th:text="#{page.editcustomer.password}">Password</th>
                <td><input type="text" name="password" th:field="*{password}"></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>
            </tr>

            <tr>
                <button type="submit" th:form="addCustomer">ADD</button>
            </tr>

        </form>

    </table>

</div>

</body>
</html>