<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">    Welcome, <span sec:authentication="name">Username</span></div>
<p> <a th:href="@{/edit}">Edit users</a></p>
<p><a th:href="@{/index}">Main page</a> </p>
<p><a href="/webapps/index.html">Books</a></p>
<p><a href="/logout">Logout</a></p>
<br>
<a href="/index">Main page</a>
</body>
</html>